* {
    box-sizing: border-box;
}

body {
      background-image: url(../images/bgimg.jpg);
      
    
}
h1, p {
    color: white;
    text-align: center;
    margin-top: 3%;
}
#cart {
    
        -moz-column-count: 4;
        -moz-column-gap: 20px;
        -webkit-column-count: 4;
        -webkit-column-gap: 20px;
        column-count: 4;
        column-gap: 20px;
        list-style: none;
        margin-top: 5%;
        
   
}
a {
    color: white;

}
a:hover {
    background-color: blue;
}
a:link {
    text-decoration: none;
}

#show-cart, .count {
    color: white;
}